body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.container h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 2px solid #201e1e;
  padding-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

form input[type="file"] {
  margin-bottom: 10px;
}

form input[type="text"] {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 1em;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

form button:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 100%;
}

.gallery-item {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.gallery-item p {
  margin: 10px 0;
  font-size: 0.9em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.gallery-item button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  margin-right: 5px;
}

.gallery-item button:hover {
  background-color: #0056b3;
}

.gallery-item button:last-child {
  background-color: #dc3545;
}

.gallery-item button:last-child:hover {
  background-color: #c82333;
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-content {
  text-align: center;
}

.modal-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.close-button:hover {
  background-color: #0056b3;
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    .container {
      max-width: 300px;

      gap: none;
    }
  }
  .container h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid #201e1e;
    padding: 1;
    max-width: 300px;
    margin: 0;
  }
  .container {
    max-width: 300px;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0;
    max-width: 300px;
  }
  form input[type="file"] {
    margin-top: 20px;
    max-width: 300px;

    margin-bottom: 10px;
    text-align: center;
  }

  form input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    max-width: 300px;
    font-size: 1em;
  }
  form input.item:last-child[type="text"] {
    margin-bottom: 20px;
  }
  .modal-content {
    text-align: center;
    max-width: 300px;
    margin: 0;
  }
}
